<div class="container">
	<br>
	<row>
		<a href="/logout"><button type="button" class="btn btn-info">Logout</button></a>
	</row>
	<br>
	<row>
		<div class="col-lg-6 col-xs-12 dark">
			<h4 align="center">Patient</h4>
			<form onsubmit="createPatient()" action="#">
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			      <input class="form-control" id="inputPatientName" placeholder="Name">
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			      <input class="form-control" id="inputPatientPhone" placeholder="Phone Number">
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			      <button type="submit" class="btn btn-primary">Submit</button>
			    </div>
			  </div>
			</form>
		</div>
		<div class="col-lg-6 col-xs-12 light">
			<h4 align="center">Doctor</h4>
			<form onsubmit="createDoctor()" action="#">
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			      <input class="form-control" id="inputDoctorName" placeholder="Name">
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			      <input class="form-control" id="inputDoctorPhone" placeholder="Phone Number">
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			      <input class="form-control" id="inputDoctorSpecialization" placeholder="Specialization">
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			      <button type="submit" class="btn btn-primary">Submit</button>
			    </div>
			  </div>
			</form>
		</div>
	</row>
	<row>
		<div class="col-lg-6 col-xs-12 light">
			<h4 align="center">Appointment</h4>
			<form onsubmit="createAppointment()" action="#">
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			    	<input type="hidden" id="doctorId"/>
			    	<input class="form-control" id="inputDoctor" placeholder="Doctor Name" autocomplete="true">
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			    	<input type="hidden" id="patientId"/>
			    	<input class="form-control" id="inputPatient" placeholder="Patient Name" autocomplete="true">
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			      <input class="form-control" id="inputDisease" placeholder="Disease">
			    </div>
			  </div>
			  <div class="form-group row">
			    <div class="col-sm-8 col-sm-offset-2">
			      <button type="submit" class="btn btn-primary">Submit</button>
			    </div>
			  </div>
			</form>
		</div>
		<div class="col-lg-6 col-xs-12 light">
			<h4 align="center">View Appointment</h4>
			<table id="appointmentTable" class="table">
			  <thead>
			    <tr>
			      <th scope="col">Patient Name</th>
			      <th scope="col">Doctor Name</th>
			      <th scope="col">Disease</th>
			    </tr>
			  </thead>
			  <tbody>
			  </tbody>
			</table>
		</div>
	</row>
<div>
