<div class="container">
    <div class="omb_login">
		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">
				<br>	
			    <%= form_for(@user, url: create_password_path) do |f| %>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
					    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
					</div>
					<br>
			      <%= f.submit "Update Password", class: "btn btn-lg btn-primary btn-block" %>
			    <% end %>
			</div>
    	</div>
	</div>
</div>