<div class="container">
    <div class="omb_login">
    	<h3 class="omb_authTitle">Continue With</h3>
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-6 col-sm-3">
		        <a href="/auth/facebook" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	<div class="col-xs-6 col-sm-3">
		        <a href="/auth/google_oauth2" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
	        </div>	
		</div>

		<div class="row omb_row-sm-offset-3 omb_loginOr">
			<div class="col-xs-12 col-sm-6">
				<hr class="omb_hrOr">
				<span class="omb_spanOr">or</span>
			</div>
		</div>

		<div class="row omb_row-sm-offset-3">
			<div class="col-xs-12 col-sm-6">	
			    <%= form_for(:session, url: login_path) do |f| %>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
					</div>
					<span class="help-block"></span>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
					    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
					</div>
					<br>
			      <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
			    <% end %>

			</div>
    	</div>
	</div>



        </div>