var api = "<%= Rails.env == 'development' ? 'http://localhost:3000/' : 'https://mdoctorapi.herokuapp.com/'%>";

function autocompleteDoctor(data){
  $("#inputDoctor").autocomplete({
    source: data,
    select: function(event, ui) {
      $('#doctorId').val(ui.item.id);
    }
  });
}

function autocompletePatient(data){
  var element = $("#inputPatient");
  element.autocomplete({
    source: data,
    select: function(event, ui) {
      $('#patientId').val(ui.item.id);
    }
  });
} 

function insertRow(patientName, doctorName, disease)
{
    var row = document.getElementById('appointmentTable').insertRow(document.getElementById('appointmentTable').rows.length);
    var c1 = row.insertCell(0);
    var c2 = row.insertCell(1);
    var c3 = row.insertCell(2);
    c1.innerHTML = patientName;
    c2.innerHTML = doctorName;
    c3.innerHTML = disease;
}

function loadAppointmentsTable(data){
  for(var i=0; i < data.length; i++){
    var item = data[i];
    console.log(JSON.stringify(item));
    insertRow(item.patient_name, item.doctor_name, item.disease);
  }
}

function getAppointment(){
  $("#appointmentTable").find("tr:not(:first)").remove();
  $.get(api+"appointments",{},function(data) {
    loadAppointmentsTable(data);
  }).fail(function(){
    toastr.error("Couldn't fetch appointments!", {timeOut: 2000});    
  });
}

function getDoctors(){
  $.get(api+"doctors",{},function(data) {
    autocompleteDoctor(data);
  });
}

function getPatients(){
  $.get(api+"patients",{},function(data) {
    autocompletePatient(data);
  });
}

function createPatient(){
  var patientName = $('#inputPatientName').val();
  var patientPhone = $('#inputPatientPhone').val();
  if(patientName.length == 0 || patientPhone.length == 0)
  {
    toastr.error("Invalid patient details.");
    return;
  }
  $.post(api+"patients", {patient: {name: patientName, phone: patientPhone}}, function(data) {
    toastr.success('Patient details have been added.', {timeOut: 2000});
    $('#inputPatientName').val('');
    $('#inputPatientPhone').val('');
    getPatients();
  }).fail(function(){
    toastr.error("Patient's details couldn't be addedd!", {timeOut: 2000});
  });
}

function createDoctor(){
  var doctorName = $('#inputDoctorName').val();
  var doctorPhone = $('#inputDoctorPhone').val();
  var doctorSpecialization = $('#inputDoctorSpecialization').val();
  if(doctorName.length == 0 || doctorPhone.length == 0 || doctorSpecialization.length == 0)
  {
    toastr.error("Invalid Doctor's details!");
    return;
  }
  $.post(api+"doctors", {doctor: {name: doctorName, phone: doctorPhone, specialization: doctorSpecialization}},function(data) {
    toastr.success("Doctor's details have been added!", {timeOut: 2000});
    $('#inputDoctorName').val('');
    $('#inputDoctorPhone').val('');
    $('#inputDoctorSpecialization').val('');
    getDoctors();
  }).fail(function(){
    toastr.error("Doctor details couldn't be addedd!", {timeOut: 2000});
  });
}

function createAppointment(){
  var doctorId = $('#doctorId').val();
  var patientId = $('#patientId').val();
  var disease = $('#inputDisease').val();
  if(doctorId.length == 0 || patientId.length == 0 || disease.length == 0)
  {
    toastr.error("Invalid appointment's details!");
    return;
  }
  $.post(api+"appointments", {appointment: {doctor_id: doctorId, patient_id: patientId, disease: disease}},function(data) {
    toastr.success("Appointment has been created.", {timeOut: 2000});
    $('#doctorId').val('');
    $('#patientId').val('');
    $('#inputDisease').val('');
    $('#inputDoctor').val('');
    $('#inputPatient').val('');
    getAppointment();
  }).fail(function(){
    toastr.error("Appointment couldn't be created!", {timeOut: 2000});
  });
}

$( document ).ready(function() {
  getDoctors();
  getPatients();
  getAppointment();
});
