// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gridrow {
	height: 300px;	
}

.dark {
	height: 100%;
	background-color: #4000;
}

.light {
	height: 100%;
	background-color: #8000;
}